{% extends "layout/basic.html" %} 
{% block title %}{{ current_rubric.name }}{% endblock %} 
{% block content %} 
<h2>Рубрика: {{ current_rubric.name }}</h2> 
{% for bb in bbs %} 
<div class="bb-card">
    <h2>{{ bb.title }}</h2>
    <p>{{ bb.content }}</p>

    <p>Цена: <strong>{{ bb.price|floatformat:2 }}</strong> руб.</p>

    <p>Теги:
        {% for tag in bb.tags.all %}
            <span>#{{ tag.name }}</span>
        {% empty %}
            <span>Нет тегов</span>
        {% endfor %}
    </p>

    <p>
        Оценка:
        {% if bb.average_rating %}
            <strong>{{ bb.average_rating|floatformat:1 }}</strong>
            (на основе {{ bb.rating_count }} голосов)
        {% else %}
            Нет оценок
        {% endif %}
    </p>

    {% if bb.bbdetail %}
    <p>Просмотров: {{ bb.bbdetail.views_count }}</p>
    {% else %}
    <p>Просмотров: 0</p>
    {% endif %}

    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
</div>
{% endfor %}
{% endblock %}